/* CSS declarations go here */

.navbar {
  height: 50px;
  font-size: 15px;
  margin-bottom: 15px;
  min-width: 2000px;
}

.container-fluid {

  padding-left: 20px;
  padding-right: 20px;

  table {

    width: 100%;
    border: 1px solid #ddd;

    td,th {
      padding: 4px 5px;
      border-top: 1px solid #ddd;
      border-left: 1px solid #ddd;
    }

    .succeeded {
      background: #efe;
    }

  }
}
